NEXT_PRIVATE_DEBUG_CACHE = 1
NEXT_SECRET_TOKEN =

NEXT_GITHUB_API_TOKEN =
NEXT_GITHUB_REPO =

NEXT_DOMAIN_URL =
NEXT_API_RATE_LIMIT = 8
NEXT_API_RATE_LIMIT_DURATION = 86400

NEXT_OPENAI_API_KEY =
NEXT_OPENAI_BASE_URL =
NEXT_OPENAI_MODEL_ID =
