@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .light {
    --color-text-link: 6 182 212;
  }

  .dark {
    --color-text-link: 96 165 250;
  }
}

@layer components {
  .animated-link {
    position: relative;
    box-decoration-break: clone;
    text-decoration: none;
  }

  .animated-link:hover:after {
    transform: translateZ(0) scale(1);
  }

  .animated-link:after {
    left: 0;
    right: 0;
    bottom: -3px;
    content: '';
    height: 2px;
    position: absolute;
    transform: translateZ(0) scaleX(0);
    transform-origin: left center;
    transition: all 0.15s ease-in-out;
    background-image: linear-gradient(
      to right,
      theme('colors.text.link'),
      theme('colors.text.link')
    );
  }

  .animated-link.show:after {
    transform: translateZ(0) scale(1);
  }
}
